<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
  <div class="container">
    <span class="powerby">PowerBy</span> <a class="powera"  href="http://freecodecamp.cn/xdsnet">@xdsnet</a>
  </div>
</nav>